.Holder {
  margin: 40px;
  background-color: rgb(115, 147, 250);
  height: 85vh;
  margin-left: 25% !important;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000,
    9px -18px 28px -14px rgba(0, 0, 0, 0.46);
}

@media (max-width: 1320px) {
  .Holder {
    margin-left: 20% !important;
    width: 1000px;
  }
}

@media (max-width: 800px) {
  .Holder {
    margin-left: 150px !important;
    width: 800px;
  }
}

@media (max-height: 565px) {
  .Holder {
    height: 520px;
  }
}
