.password_container {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: #f76464;
  margin-top: 50px !important;
  padding: 20px;
  padding-bottom: 0 !important;
  margin: auto;
  height: 250px;
  width: 350px;
  animation-name: zoom_in;
  animation-duration: 1s;
}
@keyframes zoom_in {
  from {
    height: 10px;
    width: 30px;
  }
  to {
    height: 250x;
    width: 350px;
  }
}
.all_contents {
  animation-name: hide_show;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes hide_show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn#Submit {
  background-color: #4caf50;
}
.btn#Cancel {
  background-color: #f44336;
}
.btn_holder {
  margin-top: 20px;
}
#headers {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
