.Clndr {
  background: rgb(245, 96, 96);
  border-radius: 10px;
  height: 67vh;
  margin: 20px;
  box-shadow: inset -1px 3px 8px 5px #f56060, 2px 5px 16px 0px #373737;
}
@media (max-width: 670px) {
  .Clndr {
    margin: 5px;
  }
}
.Weekz {
  background-color: #4e76f8;
  margin: 10px;
  height: 80px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.227);
  border-radius: 10px;
}
.Weekz span {
  margin: 10px;
  font-size: 20px;
}
.Dayz {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.227);
  padding: 10px;
  margin: 10px;
  background-color: #4e76f8;
  border-radius: 10px;
  display: grid;
  font-size: 15px !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.day_num {
  margin-top: 10px;
  font-size: 20px !important;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.day_num:hover {
  background-color: #194cf5;
  cursor: pointer;
}

@media (max-height: 597px) {
  .Clndr {
    height: 400px !important;
  }
}
.status {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  padding-top: 10px;
}
.status#Y {
  background-color: #4caf50;
}
.status#N {
  background-color: #f44336;
}
.day_name {
  text-decoration: underline;
}

span[day_id="Y"] {
  background-color: #4caf50;
}
span[day_id="N"] {
  background-color: #f44336;
}

.btn#nxt,
.btn#prev {
  font-size: 13px !important;
  padding: 10px;
  background-color: #4caf50;
}

.btn#nxt:hover,
.btn#prev:hover {
  background-color: #377c39;
}
